- if @use.errors.any?
  #error_explanation
    .alert.alert-danger
      The form contains #{pluralize(@use.errors.count, "error")}.
    %ul
      - @use.errors.full_messages.each do |msg|
        %li= msg